
<div class="preload" id="preload"> <img width="50%" height="50%"  src="../assets/pre.jpg"> </div>
<div style="background-image: url('../assets/main.jpg'); width: 100%"> 
    <div>1</div>
    <div>2</div>
    <div>2</div>
    <div>2</div>
    <div>2</div>
    <div>2</div>
    <div>2</div>
    <div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div><div>2</div>!!!Первый сайт Вики <3 Она рада ХЕХЕ ></div>


<div style="background-color: #E0FFFF;"><div>поверхность</div><div>поверхность</div></div>
<div style="background-color: #AFEEEE;">поверхность</div>
<div style="background-color: #7FFFD4">поверхность</div>
<div style="background-color: #40E0D0;">поверхность</div>
<div style="background-color: #48D1CC;">поверхность</div>
<div style="background-color: #00BFFF;">поверхность</div>

<div style="background-color: #00BFFF;">поверхность</div>
<div style="background-color: #DEB887;">поверхность</div>

<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>