.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: 8s;
    opacity: 1;
    z-index: 999;
}

.preload.remove {
    opacity: 0;
}

.container {
    max-width: 100%;
    min-width: 320px;
}

.wrap {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background: url('../assets/main.jpg') center no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to left, rgba(115, 117, 216, 0.3), rgba(255, 219, 115, 0.3));
    z-index: 1;
}

.header__warp {
    position: relative;
    z-index: 2;
    height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    z-index: 2;
}

.header__logo p {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
}

.button a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    background-color: #3ac8f0;
    display: inline-block;
    padding: 8px 31px;
    text-shadow: 1px 1px 2px black;
}

.button a:hover {
    background-color: #0dd4ac;
}

.header h1 {
    text-align: center;
    color:#fff;
    font-size: 54px;
    line-height: 60px;
    font-weight: 1000;
    max-width: 970px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0 15px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px black;
}