.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: 4s;
    opacity: 1;
    z-index: 999;
}

.preload.remove {
    opacity: 0;
}

.container {
    max-width: 100%;
    min-width: 320px;
}

.wrap {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background: url('../assets/main.jpg') center no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}

.header__warp {
    position: relative;
    z-index: 2;
    height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    z-index: 2;
}

.header__logo p {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 10px black;
}

.button a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    background-color: #3ac8f0;
    display: inline-block;
    padding: 8px 31px;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px 10px 10px 10px;
}

.button a:hover {
    background-color: #0dd4ac;
}

.header h1 {
    text-align: center;
    color:#fff;
    font-size: 54px;
    line-height: 60px;
    font-weight: 1000;
    max-width: 970px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0 15px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px black;
}

.about-us {
    margin: 120px auto;
    display: flex;
}

.about-us__img {
    flex-basis: 42%;
    margin-right: 95px;
    position: relative;
}

.about-us__img::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to left, rgba(108, 252, 252, 0.3), rgba(76, 204, 243, 0.3));
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
}

.about-us__img {
    display: block;
    max-width: 100%;
    background: url('../assets/aboutUs.png') center no-repeat;
    border-radius: 10px 10px 10px 10px;
}

.about-us__text {
    flex-basis: calc(100% - 42% - 95px);
}

.about-us__text p {
    font-size: 20px;
    line-height: 30px;
    margin: 45px 0;
    color: rgba(20, 14, 66, 1);
    font-weight: 700;
    opacity: 0.7;
}

.about-us__text .about-us__title{
    font-size: 40px;
    line-height: 42px;
    color: rgba(20, 14, 66, 1);
    font-weight: 700;
    opacity: 1;
    margin-top: 15px;
    margin-bottom: 45px;
}

.about-us__button {
    text-align: right;
}

.depth__top {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(184, 235, 255, 0.541));
}

.depth__column-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-top: 45px;
    color: rgba(20, 14, 66, 1);
    font-weight: 700;
    opacity: 0.7;
}

.depth__title {
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 40px;
    opacity: 1;
}

.temperature__value {
    text-align: right;
}

.depth__first-level {
    background-color: #a7e8f8;
}

.depth__first_img img{
    transform: rotate(90deg);
    width: 150px;
    opacity: 1;
}

.depth__second-level {
    background-color: #6ad7f0;
}   

.depth__third-level {
    background-color: #48c6e2;
}

.depth__fourth-level {
    background-color: #2faac5;
}

.depth__fifth-level {
    background-color: #1790ac;
}

.depth__sixth-level {
    background-color: #087e99;
}

.depth__seventh-level {
    background-color: #05667c;
}

.depth__eighth-level {
    background-color: #07414e;
}
.depth__deep_eighth, .depth__temperature__eighth{
    color: #fff;
}

.wrap__depth {
    align-items: flex-end;
    margin-top: 0;
    height: 130px;
}

.bottom {
    background: url(../assets/bottom.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.bottom__content {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0  10px;
}

.fill {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 11px black;
    z-index: 2;
}
.bottom::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to right, rgba(108, 252, 252, 0), rgba(6, 105, 134, 0.3));
    z-index: 1;
}