<div class="preload" id="preload"><div class="preloadImg"></div></div>

<div class="container">
    <div class="header">
        <header class ="wrap header__warp">
            <div class="header__top">
                <div class="header__logo">
                    <p>OceanClub</p>
                </div>
                <div class="button header__button">
                    <a href="#">Contact us</a>
                </div>
            </div>
            <h1>
                A harbor of endless possibilities, where luxury and nature come together in perfect harmony to create unforgettable experiences and a sea of pleasure
            </h1>
        </header>
    </div>
    <div class="about-us wrap">
        <div class="about-us__img"></div>
        <div class="about-us__text">
            <p class="about-us__title">About Us</p>
            <p>OceanClub - a pioneering company dedicated to the exploration and study of the mesmerizing oceanic realm. 
                With a team of passionate marine enthusiasts and state-of-the-art technology, we are committed to unraveling the mysteries of the ocean and advocating 
                for ocean conservation. Through immersive ocean expeditions, cutting-edge research projects, and educational initiatives,
                OceanClub aims to expand our understanding of the underwater world and promote the protection of our oceans for generations to come</p>
            <div class="button about-us__button">
                <a href="#">Dive with us</a>
            </div>
        </div>
    </div>

</div>


<div style="background-color: #E0FFFF;"><div>поверхность</div><div>поверхность</div></div>
<div style="background-color: #AFEEEE;">поверхность</div>
<div style="background-color: #7FFFD4">поверхность</div>
<div style="background-color: #40E0D0;">поверхность</div>
<div style="background-color: #48D1CC;">поверхность</div>
<div style="background-color: #00BFFF;">поверхность</div>

<div style="background-color: #00BFFF;">поверхность</div>
<div style="background-color: #DEB887;">поверхность</div>

<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>

<div>!!!Первый сайт Вики <3 Она рада ХЕХЕ</div>