<div class="preload" id="preload"></div>

<div class="container">
    <div class="header">
        <header class ="wrap header__warp">
            <div class="header__top">
                <div class="header__logo">
                    <p>OceanClub</p>
                </div>
                <div class="button header__button">
                    <a href="#">Contact us</a>
                </div>
            </div>
            <h1>
                A harbor of endless possibilities, where luxury and nature come together in perfect harmony to create unforgettable experiences and a sea of pleasure
            </h1>
        </header>
    </div>
</div>


<div style="background-color: #E0FFFF;"><div>поверхность</div><div>поверхность</div></div>
<div style="background-color: #AFEEEE;">поверхность</div>
<div style="background-color: #7FFFD4">поверхность</div>
<div style="background-color: #40E0D0;">поверхность</div>
<div style="background-color: #48D1CC;">поверхность</div>
<div style="background-color: #00BFFF;">поверхность</div>

<div style="background-color: #00BFFF;">поверхность</div>
<div style="background-color: #DEB887;">поверхность</div>

<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>
<div style="background-color: lightskyblue;">поверхность</div>

<div>!!!Первый сайт Вики <3 Она рада ХЕХЕ</div>